@charset "UTF-8";

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

div{
	margin: 1em;
}

li {
	list-style-type: none;
	margin-bottom: 1em;
}

ol > li {
	list-style-type: decimal;
	margin-bottom: 0;
}

a{
	color: #5e78c1;
	text-decoration: none;
}
a:hover{
	color: #b04188;
	text-decoration: underline;
}

.error {
	color: #FF0000;
}

header {
	position: sticky;
	padding: 0;
	color: aliceblue;
	background-color: black;
	width: 100vw;
	text-align: center;
	padding: 3%;
}

footer {
	position: sticky;
	bottom: 0;
	width: 100vw;
	background-color: black;
	color: aliceblue;
	text-align: center;
	padding: 5%;
}

form {
	margin: 5%;
	& li {
		margin: 10%;
	}
}

.return {
	display: block;
	color: rgb(66, 168, 57);
	&:hover {
		color: rgb(66, 168, 57);
	}
}